body {
	background-color: #333333;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	color: white;
	margin:0;
	padding: 15px 0;
	font-size: 30px;
	background-color:#0099ff;
}

.square {
	width: 30%;
	background-color: green;
	box-sizing: border-box;
	margin: 1.66%;
	float: left;
	padding-bottom: 30%;
	border-radius: 20%;
	border: 2px solid white;
}

#container, .container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#stripe {
	height: 40px;
	background-color: white;
	margin-bottom: 40px;

}

#stripe .container {
	display: block;
	height: 100%;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

button {
	background-color: white;
	color:#0099ff;
	border:0;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	padding: 0 10px;
	height: 100%;
}

button:hover {
	background-color: #0099ff;
	color:white;
}

.left {
	float: left;
}

.right {
	float: right;
}

#message {
	color: red;
	line-height: 40px;
}

#colorDisplay {
	font-size: 50px;
}
